
Java_Project/.idea/uiDesigner.xml
Java_Project/.idea/dataSources.local.xml
Java_Project/.idea/compiler.xml
Java_Project/.idea/encodings.xml
Java_Project/.idea/workspace.xml

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

